/* Header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white; 
    padding: 0px;
    /* color: #333333; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding-right: 20px;
  }
  
  .header-logo {
    display: flex;
    flex-direction: column;
  }
  
  .header-logo img {
    height: 100px;
    width: 150px;
    padding: 0;
  }
  
  .header-nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .header-nav li {
    margin: 0 15px;
  }
  
  .header-nav a {
    text-decoration: none;
    color: #191051;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .header-nav a:hover {
    color: #f48f1d;
  }
  